.hero-wrapper {
  background: var(--sidebar-left-bg);
  padding-top: 2rem;
  margin-bottom: 5rem;
}

.hero {
  margin: 0 auto;
  padding: var(--gutter);
  max-width: var(--content-max-width);
  max-height: 20rem;
  height: 80vh;

  nav a {
    color: var(--sidebar-left-text);
    text-decoration: none;
    margin-right: 0.7em;
    padding: 0.1rem 0.2em;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom-color: var(--sidebar-left-border-bottom);
    }
  }
}

.hero-cta {
  margin: 2.5rem 0;
}

.hero--text {
  color: var(--sidebar-left-text);
  text-align: center;
}

.hero--text h1 {
  font-size: 2.8rem;
  margin-top: 0;
}

.hero--text h1 img {
  display: none;
}

.hero--text h1 small {
  font-size: 0.9rem;
  font-weight: normal;
  margin: 0.5rem 0;
  display: block;
}

.hero--text h1 .tagline {
  font-size: 1.2rem;
  font-style: italic;
}

.hero--media {
  display: block;
  position: relative;
  top: 1.5rem;
}

.hero--media img {
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.25);
}

@media (min-width: 800px) {
  .hero {
    display: flex;
    align-items: center;
  }

  .hero--text {
    padding: var(--gutter);
    text-align: left;
    width: 50%;
    max-width: 20rem;
  }

  .hero--text h1 img {
    display: block;
    height: 2.8rem;
  }

  .hero--media {
    width: 50%;
    left: 2rem;
    transform: scale(1.2);
  }
}

@media (min-width: 1100px) {
  .hero--media {
    top: 3rem;
    left: 6rem;
    transform: scale(1.5);
  }
}

/*
.welcome-screen {
  background: var(--sidebar-left-bg);
  background-position: 50% 100%;
  min-height: 100vh;

  // TODO: Tried to make it dynamic with vw, but I couldn't make it work
  @media (min-width: 1024px) { background-position: left 50% bottom -50px; }
  @media (min-width: 1280px) { background-position: left 50% bottom -90px; }
  @media (min-width: 1440px) { background-position: left 50% bottom -130px; }

  &, a {
    color: var(--sidebar-left-text);
  }

  a.btn {
    color: var(--button-color);
  }

  h1,
  h2 {
    margin-top: 0;
  }

  h1 {
    font-size: 2.4rem;
    padding-top: 1rem;
  }

  .btn.is-hallow {
    color: var(--sidebar-left-text);
    border-color: var(--sidebar-left-bg);
  }

  article,
  footer,
  section {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 42rem;
    max-width: 100%;

    @include if_screen(">two-columns") {
      padding-top: 4rem;
    }
  }

  section {
    min-height: 70vh;
  }

  .welcome-screen__about + .welcome-screen__signup {
    min-height: auto;
  }

  .welcome-screen__footer {
    padding-bottom: 3rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  @include if_screen(">two-columns") {
    & section:nth-of-type(1) form {
      background: rgba(0, 0, 0, 0.18);
      box-shadow: 0 0 0 3.5rem rgba(0,0,0,0.18);
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }
}
*/
